<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDGOSTGgm62dCRYt0no7Sj3G92mLqXY1qs</string>
	<key>GCM_SENDER_ID</key>
	<string>1000677623267</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.numediart.helloCreactifs</string>
	<key>PROJECT_ID</key>
	<string>hello-creactifs</string>
	<key>STORAGE_BUCKET</key>
	<string>hello-creactifs.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1000677623267:ios:91abbbf553409cc13b4cd6</string>
</dict>
</plist>